<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HDBook.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DC98B5B02F3C7EB19685A7319775F92A87331CC8</string>
				<key>dateExpires</key>
				<string>08/01/2025</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Q898A57MVC.com.HD.HDBook</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Q898A57MVC</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>HDBook.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2110eea5-17ff-4305-805f-c9c53aeec6a2</string>
				<key>dateExpires</key>
				<string>08/01/2025</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.HD.HDBook</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Q898A57MVC</string>
				<key>name</key>
				<string>Hayes Davidson Group LTD</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
